@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Karla);

html {
	height: 100%;
}

body {
    margin:  0px auto;
    margin-bottom: 20px;
    padding: 0px auto;
    background-color: #ffffff;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #121212;
    line-height: 35px;
    font-weight: 400;
	top: 0px;
	height: auto;
}

hr {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
}

img {
  max-width:100%;
  height:auto;
  max-height:90%;
}

h1, h2 {
    font-family: 'Crimson Text', serif;
    color: #121212;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    line-height: 40px;
}
h2 {
    font-size: 40px;
    line-height: 30px;
}
#header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#main {
	width: 80%;
	margin: 0 auto;
}
#details {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

#footer {
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    background-color: #ffffff;
}

#footer p {
	bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
